body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 120px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #171616;
  }
  
  .login-container {
    background: white;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #021638;
  }
  
  .form-group{
    margin-bottom: 20px;
    text-align:left;
    padding: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
  }
  
  input:focus {
    border-color: #294475;
    outline: none;
    box-shadow: 0 0 5px rgba(1, 15, 39, 0.5);
  }
  
  .btn {
    background: #08152a;
    color: white;
    border: none;
    padding: 20px 10px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background: #6a11cb;
  }
  
  .signup-link {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .signup-link a {
    color: #011b48;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }